html,
body {
  position: relative;
  height: 100%;
}



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.navbar {
  transition: top 0.3s;
}
 
.nav-link:hover{
  font-weight: bolder;
  font-size: 16px;
  color: whitesmoke;
  transform: translateY(2px);
  transition: top 0.1s;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.banner-image {
  background-image: url('3186532.jpg');
  background-size: cover;
}


/* body::-webkit-scrollbar {
  width: 12px !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1.5px solid #7e7e7e;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border: 2px solid #616161;
  border-radius: 8px;
}
 */

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}


.form-control{
  border-radius:0 !important;
border: none !important;
  background-color: whitesmoke !important;
}

.form-control:focus{
  border: 3px solid black !important;
  box-shadow: none;
}

.emailButton{
  z-index: 2;
  position: fixed;
  right: 2vw;
  bottom: 2vw ;
  border-radius: 50%;
  background-color: orange;
  height: 60px;
  width: 60px;
  border: none;
  font-size: 25px;
}

.modal-content{
  background: linear-gradient(to right, orange 50%, white 50%) ;
}

.modal-header,.modal-footer{
  border: none !important;
}

.modal-footer button{
  background-color: black;
  border-radius: 0 !important;
  padding: 5px 30px 5px 30px;
  
}

.form-control:focus {
  box-shadow: none !important;
}


.grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 35px;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  text-align: center;
  overflow: hidden;
  font-weight: bolder;
}
.grow:hover {
  width: 180px;
}