:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Custom palette */
  --black-100: #020202;
  --black-200: #050404;
  --black-300: #070605;
  --black-400: #090807;
  --black-500: #0a0908;
  --black-600: #423b35;
  --black-700: #786c60;
  --black-800: #a89d92;
  --black-900: #d3cec9;

  --jet-100: #070a0c;
  --jet-200: #0d1417;
  --jet-300: #141e23;
  --jet-400: #1b282f;
  --jet-500: #22333b;
  --jet-600: #40606f;
  --jet-700: #608ea3;
  --jet-800: #95b4c2;
  --jet-900: #cad9e0;

  --almond-100: #3c2d1e;
  --almond-200: #775b3c;
  --almond-300: #ae885f;
  --almond-400: #ccb49b;
  --almond-500: #eae0d5;
  --almond-600: #efe7de;
  --almond-700: #f3ede7;
  --almond-800: #f7f3ef;
  --almond-900: #fbf9f7;

  --khaki-100: #2d2317;
  --khaki-200: #5b462e;
  --khaki-300: #886945;
  --khaki-400: #b08b62;
  --khaki-500: #c6ac8f;
  --khaki-600: #d2bda5;
  --khaki-700: #ddcebc;
  --khaki-800: #e8ded2;
  --khaki-900: #f4efe9;

  --stone-100: #13100d;
  --stone-200: #262019;
  --stone-300: #393026;
  --stone-400: #4c4133;
  --stone-500: #5e503f;
  --stone-600: #89755b;
  --stone-700: #ab9880;
  --stone-800: #c7baab;
  --stone-900: #e3ddd5;

  --foreground: var(--stone-400);
  --background-start: var(--almond-800);
  --background-end: var(--khaki-900);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, var(--background-start) 0%, var(--background-end) 100%);
  font-family: 'Fancy Cut Pro', 'Cambria', 'Georgia', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
::-webkit-scrollbar {
  display: none;
}
